<template>
  <section>
    <v-container grid-list-xl>
      <v-layout wrap>
        <feed-card
          v-for="(post, i) in paginatedPosts"
          :key="post.attributes.title"
          :size="layout[i]"
          :value="post"
        />
      </v-layout>

      <v-layout align-center>
        <v-flex xs3 text-left>
          <base-btn v-if="page !== 1" class="mr-0" title="Previous page" square @click="page--">
            <v-icon>mdi-chevron-left</v-icon>
          </base-btn>
        </v-flex>

        <v-flex xs6 text-center subheading>PAGE {{ page }} OF {{ pages }}</v-flex>

        <v-flex xs3 text-right>
          <base-btn
            v-if="pages > 1 && page < pages"
            class="mr-0"
            title="Next page"
            square
            @click="page++"
          >
            <v-icon>mdi-chevron-right</v-icon>
          </base-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </section>
</template>

<script>
import postsIndex from "~/data/postsIndex.json";

export default {
  components: {
    FeedCard: () => import("@/components/FeedCard"),
    BaseBtn: () => import("@/components/base/Btn")
  },

  data: () => ({
    posts: [],
    layout: [2, 2, 1, 2, 2, 3, 3, 3, 3, 3, 3],
    page: 1
  }),

  created() {
    Promise.all(
      postsIndex.map(post => {
        return import(`~/data/posts/${post.name}.md`).then(response => {
          return { attributes: response.attributes, html: response.html };
        });
      })
    ).then(response => {
      this.posts = response;
    });
  },

  computed: {
    pages() {
      return Math.ceil(this.posts.length / 11);
    },

    paginatedPosts() {
      const start = (this.page - 1) * 11;
      const stop = this.page * 11;
      return this.posts.slice(start, stop);
    }
  },

  watch: {
    page() {
      window.scrollTo(0, 0);
    }
  }
};
</script>
