<template>
  <v-flex xs12 :class="classes">
    <v-card tile flat color="grey lighten-1" dark :href="'/posts/' + postAttrs.filename">
      <v-img
        :src="require(`@/assets/articles/${postAttrs.img}`)"
        height="100%"
        gradient="rgba(0, 0, 0, .42), rgba(0, 0, 0, .42)"
      >
        <v-layout v-if="!postAttrs.prominent" fill-height wrap ma-0>
          <v-flex xs12>
            <v-chip
              label
              class="mx-0 mb-2 text-uppercase"
              color="grey darken-3"
              text-color="white"
              small
              @click.stop
            >{{ postAttrs.category }}</v-chip>
            <h3 class="title font-weight-bold mb-2 white--text">{{ postAttrs.title }}</h3>
            <div class="caption">{{ postAttrs.date }}</div>
            <div v-html="highlight()"></div>
          </v-flex>
          <v-flex align-self-end>
            <v-chip
              class="text-uppercase ma-0 float-right"
              color="primary"
              label
              small
              @click.stop
            >Read More</v-chip>
          </v-flex>
        </v-layout>
      </v-img>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  props: {
    size: {
      type: Number,
      required: true
    },
    value: {
      type: Object,
      default: () => ({})
    }
  },

  computed: {
    classes() {
      return {
        md6: this.size === 2,
        md4: this.size === 3
      };
    },
    postAttrs() {
      return this.value.attributes;
    }
  },

  methods: {
    highlight: function() {
      let firstParagraph = this.value.html.split("<p>")[1];
      return firstParagraph.substring(0, 512) + "...";
    }
  }
};
</script>

<style>
.v-image__image {
  transition: 0.3s linear;
}
</style>
