<template>
  <v-content>
    <v-container>
      <v-row class="mb-6">
        <v-col>
          <h1>{{ postAttrs.title }}</h1>
          <small>Posted: {{ postAttrs.date }}</small>
          <v-img
            class="mt-6 mb-6"
            :src="require(`@/assets/articles/${postAttrs.img}`)"
            height="300px"
            gradient="rgba(0, 0, 0, .42), rgba(0, 0, 0, .42)"
          ></v-img>
          <div v-html="postContent"></div>
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script>
export default {
  validate({ params }) {
    return params.slug.length;
  },

  async asyncData({ params }) {
    async function asyncImport(postName) {
      return await import(`~/data/posts/${postName}.md`);
    }

    return Promise.resolve(asyncImport(params.slug)).then(res => {
      return {
        postContent: res.html,
        postAttrs: res.attributes
      };
    });
  },

  head () {
    return {
      title: this.postAttrs.title
    }
  }
};
</script>

<style scoped lang="scss">
.v-application {
  font-family: "Space Mono", Arial, serif;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
</style>