<template>
  <v-app>
    <core-toolbar />
    <core-drawer v-if="pages.length" />

    <nuxt />

    <core-footer></core-footer>
  </v-app>
</template>

<script>
export default {
  components: {
    CoreDrawer: () => import("@/components/core/Drawer"),
    CoreFooter: () => import("@/components/core/Footer"),
    CoreToolbar: () => import("@/components/core/Toolbar")
  },

  computed: {
    pages () {
      return this.$store.state.pages
    }
  }
};
</script>
