<template>
  <v-content>
    <v-container>
      <div id="blog">
        <articles></articles>
      </div>
    </v-container>
  </v-content>
</template>

<script>
export default {
  components: {
    Articles: () => import("@/components/home/Articles")
  },

  head() {
    return {
      title: "Blog"
    };
  }
};
</script>
