<template>
  <v-content>
    <div id="page">
      <header id="fh5co-header" class="fh5co-cover" role="banner">
        <div class="overlay"></div>
        <v-container>
          <v-row>
            <v-col offset-md="2" md="8" class="text-center">
              <div class="display-t">
                <div class="display-tc">
                  <div class="profile-thumb"></div>
                  <h1>
                    <span>José Manuel Peña</span>
                  </h1>
                  <h2>
                    <span>Web Developer / Father</span>
                  </h2>
                  <ul class="fh5co-social-icons">
                    <li v-for="(item, i) in this.$store.state.socialIcons" :key="i">
                      <a :href="item.href" target="_blank" rel="noopener noreferrer">
                        <v-icon dark v-text="item.icon"></v-icon>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </v-col>
          </v-row>
        </v-container>
      </header>
      <div id="fh5co-about" transition="scroll-y-reverse-transition">
        <v-container mx-auto py-0>
          <v-row>
            <v-col md="8" offset-md="2" class="text-center fh5co-heading">
              <h2>About Me</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col md="4" offset-md="1">
              <ul class="personal-info">
                <li>
                  <span class="first-block">Full Name:</span>
                  <span class="second-block">José Manuel Peña Díaz</span>
                </li>
                <li>
                  <span class="first-block">Email:</span>
                  <span class="second-block">josmpena91@gmail.com</span>
                </li>
              </ul>
            </v-col>
            <v-col md="6">
              <p>
                Experienced Ruby On Rail Developer with interest in Elixir and figuring Javascript out.
                Skilled in Ruby on Rails, and Ruby. Technical professional with a Full-Stack Web Development focus.
              </p>
            </v-col>
          </v-row>
        </v-container>
      </div>
      <div id="fh5co-resume" class="fh5co-bg-color">
        <v-container>
          <v-row>
            <v-col cols="8" offset="2" class="text-center fh5co-heading">
              <h2>My Resume</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col md="12" offset-md="0">
              <ul class="timeline">
                <li class="timeline-heading text-center animate-box">
                  <div>
                    <h3>Work Experience</h3>
                  </div>
                </li>
                <li class="animate-box timeline-unverted">
                  <div class="timeline-badge">
                    <i class="icon-suitcase"></i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h3 class="timeline-title">Software Engineer</h3>
                      <a
                        href="https://www.exogroup.com/"
                        target="_blank"
                        class="company"
                      >Exogroup · 2018 - 2020</a>
                    </div>
                    <div class="timeline-body">
                      <p>Maintain and enhace a Social Betting platform - Playfulbet - written in Ruby with 8+ Million users.</p>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted animate-box">
                  <div class="timeline-badge">
                    <i class="icon-suitcase"></i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h3 class="timeline-title">Sofware Engineer</h3>
                      <a
                        href="https://web.tecnotramit.com/en/"
                        target="_blank"
                        class="company"
                      >TecnoTramit · 2018</a>
                    </div>
                    <div class="timeline-body">
                      <p>Design, plan and build web applications as tools to be used extensively by the company's departments.</p>
                    </div>
                  </div>
                </li>
                <li class="animate-box timeline-unverted">
                  <div class="timeline-badge">
                    <i class="icon-suitcase"></i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h3 class="timeline-title">Chief Technology Officer (CTO)</h3>
                      <a
                        href="https://luxiders.com/almasanta-sustainable-fashion/"
                        target="_blank"
                        class="company"
                      >Almasanta · 2017 - 2018</a>
                    </div>
                    <div class="timeline-body">
                      <p>Infraestructure administration, enhancement and debugging of Almasanta e-commerce, written in Ruby.</p>
                    </div>
                  </div>
                </li>
                <li class="animate-box timeline-inverted">
                  <div class="timeline-badge">
                    <i class="icon-suitcase"></i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h3 class="timeline-title">Web Developer</h3>
                      <a
                        href="https://www.gympass.com/us"
                        target="_blank"
                        class="company"
                      >Gympass · 2016 - 2017</a>
                    </div>
                    <div class="timeline-body">
                      <p>Maintain, debug and develop new functionalities for Gympass web application. Code refactoring and optimization.</p>
                    </div>
                  </div>
                </li>
                <li class="animate-box timeline-unverted">
                  <div class="timeline-badge">
                    <i class="icon-suitcase"></i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h3 class="timeline-title">Part Time Teacher Assistant</h3>
                      <a
                        href="https://www.ironhack.com/en"
                        target="_blank"
                        class="company"
                      >Ironhack · 2016 - 2017</a>
                    </div>
                    <div class="timeline-body">
                      <p>Support Main teacher with student's doubts regarding classes and subjects. Advice and guide students with projects and homework</p>
                    </div>
                  </div>
                </li>
                <li class="animate-box timeline-inverted">
                  <div class="timeline-badge">
                    <i class="icon-suitcase"></i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h3 class="timeline-title">Quality Assurance Analyst</h3>
                      <a
                        href="https://www.gft.com/es/es/index/"
                        target="_blank"
                        class="company"
                      >GFT · 2014 - 2016</a>
                    </div>
                    <div class="timeline-body">
                      <p>Analyze, plan and create Test Suites for banking applications (Investment Banking and Syndicated Loans).</p>
                    </div>
                  </div>
                </li>
                <li class="animate-box timeline-unverted">
                  <div class="timeline-badge">
                    <i class="icon-suitcase"></i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h3 class="timeline-title">Quality Assurance Engineer</h3>
                      <a
                        href="https://www.accenture.com/us-en"
                        target="_blank"
                        class="company"
                      >Accenture · 2013 - 2014</a>
                    </div>
                    <div class="timeline-body">
                      <p>Create, maintain and execute Test Suites for Insurance web applications. Report and analyze test results.</p>
                    </div>
                  </div>
                </li>
                <li class="animate-box timeline-inverted">
                  <div class="timeline-badge">
                    <i class="icon-suitcase"></i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h3 class="timeline-title">Quality Assurance Engineer</h3>
                      <a
                        href="http://www.newtechsa.com/"
                        target="_blank"
                        class="company"
                      >Newtech · 2011 - 2012</a>
                    </div>
                    <div class="timeline-body">
                      <p>Create, maintain and execute Test Suites for Telephony web applications. Report and analyze test results.</p>
                    </div>
                  </div>
                </li>
              </ul>
            </v-col>
          </v-row>
        </v-container>
      </div>
      <div id="fh5co-features" class="animate-box">
        <v-container>
          <div class="services-padding">
            <v-row>
              <v-col md="8" offset-md="2" class="text-center fh5co-heading">
                <h2>Education</h2>
              </v-col>
            </v-row>
            <v-row>
              <v-col md="6" class="text-center">
                <div class="feature-left">
                  <span class="icon">
                    <v-icon id="ed-ironhack"></v-icon>
                  </span>
                  <div class="feature-copy">
                    <h3>Ironhack</h3>
                    <p>Full Stack Web Development · 2016</p>
                  </div>
                </div>
              </v-col>

              <v-col md="6" class="text-center">
                <div class="feature-left">
                  <span class="icon">
                    <v-icon id="ed-ucoc"></v-icon>
                  </span>
                  <div class="feature-copy">
                    <h3>Uniò de Centres Oberts de Catalunya (UCOC)</h3>
                    <p>Multiplatform Applications Developer · 2014-2016</p>
                  </div>
                </div>
              </v-col>
            </v-row>
            <v-row>
              <v-col md="6" class="text-center">
                <div class="feature-left">
                  <span class="icon">
                    <v-icon id="ed-unapec"></v-icon>
                  </span>
                  <div class="feature-copy">
                    <h3>Universidad Apec (UNAPEC)</h3>
                    <p>Computational Systems Engineering student · 2010-2012</p>
                  </div>
                </div>
              </v-col>
              <v-col md="6" class="text-center">
                <div class="feature-left">
                  <span class="icon">
                    <v-icon id="ed-itesa"></v-icon>
                  </span>
                  <div class="feature-copy">
                    <h3>Instututo Técnico Salesiano (ITESA)</h3>
                    <p>Digital Electronics Technician. Digital electronics and micro computing.</p>
                  </div>
                </div>
              </v-col>
            </v-row>
          </div>
        </v-container>
      </div>

      <div id="fh5co-skills" class="animate-box">
        <v-container>
          <v-row>
            <v-col md="8" offset-md="2" class="text-center fh5co-heading">
              <h2>Skills</h2>
            </v-col>
          </v-row>
          <v-row>
            <v-col md="6">
              <div class="progress-wrap">
                <h3>
                  <span class="name-left">HTML5/CSS3</span>
                </h3>
                <div class="progress">
                  <div
                    class="progress-bar progress-bar-1 progress-bar-striped active"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width:75%"
                  ></div>
                </div>
              </div>
              <div class="progress-wrap">
                <h3>
                  <span class="name-left">Ruby on Rails</span>
                </h3>
                <div class="progress">
                  <div
                    class="progress-bar progress-bar-2 progress-bar-striped active"
                    role="progressbar"
                    aria-valuenow="85"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width:85%"
                  ></div>
                </div>
              </div>
              <div class="progress-wrap">
                <h3>
                  <span class="name-left">Javascript</span>
                </h3>
                <div class="progress">
                  <div
                    class="progress-bar progress-bar-3 progress-bar-striped active"
                    role="progressbar"
                    aria-valuenow="45"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width:45%"
                  ></div>
                </div>
              </div>
              <div class="progress-wrap">
                <h3>
                  <span class="name-left">Databases</span>
                </h3>
                <div class="progress">
                  <div
                    class="progress-bar progress-bar-striped active"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width:75%"
                  ></div>
                </div>
              </div>
            </v-col>
            <v-col md="6">
              <div class="progress-wrap">
                <h3>
                  <span class="name-left">Design</span>
                </h3>
                <div class="progress">
                  <div
                    class="progress-bar progress-bar-5 progress-bar-striped active"
                    role="progressbar"
                    aria-valuenow="30"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width:30%"
                  ></div>
                </div>
              </div>
              <div class="progress-wrap">
                <h3>
                  <span class="name-left">Elixir</span>
                </h3>
                <div class="progress">
                  <div
                    class="progress-bar progress-bar-striped active"
                    role="progressbar"
                    aria-valuenow="10"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width:10%"
                  ></div>
                </div>
              </div>
              <div class="progress-wrap">
                <h3>
                  <span class="name-left">Test Automation</span>
                </h3>
                <div class="progress">
                  <div
                    class="progress-bar progress-bar-1 progress-bar-striped active"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width:75%"
                  ></div>
                </div>
              </div>
              <div class="progress-wrap">
                <h3>
                  <span class="name-left">Infraestructure</span>
                </h3>
                <div class="progress">
                  <div
                    class="progress-bar progress-bar-3 progress-bar-striped active"
                    role="progressbar"
                    aria-valuenow="40"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width:40%"
                  ></div>
                </div>
              </div>
            </v-col>
          </v-row>
        </v-container>
      </div>
    </div>
  </v-content>
</template>

<script>
export default {
  head () {
    return {
      title: 'Info'
    }
  }
};
</script>

<style lang="scss" scoped>
#page {
  font-family: "Space Mono", Arial, serif;
  line-height: 1.7;
}

.v-application {
  ul {
    padding: unset;
  }
}
</style>