<template>
  <v-navigation-drawer
    v-model="drawer"
    app
    light
    temporary
  >
    <v-list>
      <v-list-item
        v-for="(link, i) in links"
        :key="i"
        :to="link.to"
        exact
        link
        nuxt
      >
        <v-list-item-action>
          <v-icon>{{ link.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="link.name"/>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  // Utilities
  import {mapMutations} from 'vuex'

  export default {
    name: 'CoreDrawer',
    computed: {
      links() {
        return this.$store.state.pages
      },
      drawer: {
        get() {
          return this.$store.state.drawer
        },
        set(val) {
          this.setDrawer(val)
        }
      }
    },

    methods: {
      ...mapMutations(['setDrawer']),
      onClick(e, item) {
        e.stopPropagation()

        if (item.to) {
          this.$vuetify.goTo(item.to)
        }
        this.setDrawer(false)
      }
    }
  }
</script>
