<template>
  <v-app-bar app hide-on-scroll>
    <v-app-bar-nav-icon class="hidden-md-and-up" @click.stop="toggleDrawer" v-if="links.length" />
    <v-container mx-auto py-0>
      <v-layout>
        <a href="/" class="my-auto">
          <v-img
            :src="require('@/assets/images/logo.png')"
            class="mr-5"
            contain
            width="200"
            @click="$vuetify.goTo(0)"
          />
        </a>
        <v-spacer />
        <v-btn
          v-for="(link, i) in links"
          :key="i"
          :to="link.to"
          class="hidden-sm-and-down"
          large
          text
        >{{ link.name }}</v-btn>
      </v-layout>
    </v-container>
  </v-app-bar>
</template>

<script>
// Utilities
import { mapMutations } from "vuex";

export default {
  computed: {
    links() {
      return this.$store.state.pages;
    }
  },

  methods: {
    ...mapMutations(["toggleDrawer"])
  }
};
</script>
